<p align="center">
	{{#if devoured}}
	
	{{id}}.
	{{burger_name}}

	{{else}}

	{{id}}.
	{{burger_name}}

	<button type="button" class="btn btn-primary" data-toggle="button" class="change-devour" data-id="{{id}}" data-newdevour="true">
		Devour
	</button>

	{{/if}}

</p>
